<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flask Url Shortener</title>
        <meta name="description" content>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Load materializecss minified -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    <body class="blue-grey lighten-5">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container" id="projekt">
            <h1 class='blue-grey-text text-darken-1'><span class="red-text text-lighten-1">FLASK</span> URL SHORTENER</h1>
                <form action="/add" method="post" class="col s12">
                    <div class="row z-depth-1 form-padding grey lighten-5 text-center">
                        <div class="input-field col s12 l6 form-margin">
                            <p>
                                <input class="validate" id="url_field" type="text" name="url">
                                <label for="url_field">{{ description }}</label>
                            </p>
                            <p>
                                <button class="waves-effect waves-light light-blue accent-3 btn" type="submit">Create</button>
                            </p>
                        </div>
                    </div>
                </form>
                {% if url_message %}
                    <div class="collection row z-depth-1 text-center grey lighten-5">
                        <p class="collection-item grey lighten-5"><span class="badge green-text text-accent-3"><strong><i class="material-icons">check</i>{{ url_message }}</strong></span>Input url: </p>
                        <p class="collection-item grey lighten-5"><span class="badge blue-text text-lighten-1"><strong>{{ short_url }}</strong></span>Shortened url: </p>
                        <p class="collection-item grey lighten-5"><span class="badge grey-text text-darken-3">{{ status_message }}</span>Status: </p>
                    </div>
                {% endif %}
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                    <div class="collection row z-depth-1 text-center grey lighten-5">
                        <ul>
                            {% for error in errors %}
                            <li class="collection-item grey lighten-5 red-text text-accent-3"><i class="material-icons">close</i>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% endwith %}
        </div>



        <!--Import jQuery before materialize.js-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <!-- Load materializecss js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    </body>
</html>
