.logo {
    width: 20%;
    height: auto;
}

.form-padding {
    padding: 5%;
}

.input-margin {
    margin: 2%;
}

.accent-color {
    color: crimson;
}

  /* label color */
  .input-field label {
    color: #263238 !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #263238 !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #263238 !important;
    box-shadow: 0 1px 0 0 #263238 !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #263238 !important;
    box-shadow: 0 1px 0 0 #263238 !important;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #263238 !important;
    box-shadow: 0 1px 0 0 #263238 !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #263238 !important;
  }

  [v-cloak] {
    display: none;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
